* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cyan;
    font-family: 'Courier New', Courier, monospace;
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    transition: .5s;
    box-shadow: 0 0 0 5px rgb(53, 238, 238);
    overflow: hidden;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.search.active {
    width: 350px;
}

.search .icon::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid cyan;
    border-radius: 50%;
    transform: translate(-4px, -4px);

}

.search .icon::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: cyan;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 250px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.clear {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    background: #999;
    transform: rotate(-45deg);
}